body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

/* HEADER */
.top-header {
    background-color: pink;
    color: white;
    padding: 30px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.profile-pic {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
}

/* NAVBAR */
nav {
    background-color: grey;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #6c63ff;
}

/* SECTIONS */
section {
    padding: 40px;
    text-align: center;
}

h2 {
    color: #6c63ff;
}

/* SKILLS */
ul {
    list-style: none;
    padding: 0;
}

/* PROJECT CARDS */
.project-card {
    background: white;
    margin: 15px auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .project-card {
        width: 90%;
    }
}